{
  "extends": ["stylelint-config-standard-scss", "stylelint-prettier/recommended"],
  "plugins": ["stylelint-order"],
  "rules": {
    "order/order": ["custom-properties", "dollar-variables", "declarations", "rules", "at-rules"],
    "order/properties-alphabetical-order": true
  }
}
